* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

::-webkit-input-placeholder {
  color: rgb(55, 28, 80);
  font-weight: bold;
  font-family: sans-serif;
}

form {
  background-color: #b1b1e199;
  max-width: 300px;
  border-radius: 10px;
  width: 55%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 1px 0px #00000070;
}

h3 {
  text-align: center;
  color: rgb(55, 28, 80);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  height: 45px;
  border: 0;
  border-bottom: 2px solid #000000;
  padding-left: 10px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: transparent;
  font-family: sans-serif;
  font-weight: bold;
}

button {
  width: 40%;
  height: 40px;
  cursor: pointer;
  border: 0;
  background-color: rgb(55, 28, 80);
  color: white;
  border-radius: 20px;
  transition: 1s;
  margin-left: 30%;
  font-weight: bold;
  margin-top: 10%;
}

form input[type="text"]:focus {
  outline: 0;
}
form input[type="password"]:focus {
  outline: 0;
}

form button:hover {
  background-color: rgb(23, 16, 31);
}

hr {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  width: 60%;
}

p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 2%;
  color: rgb(55, 28, 80);
}

a {
  display: flex;
  justify-content: center;
  color: rgb(139, 14, 139);
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease-out;
}

a:hover {
  color: rgb(23, 16, 31);
}

.fa-eye {
  position: absolute;
  top: 38%;
  right: 11%;
  height: 15px;
  cursor: pointer;
  color: rgb(55, 28, 80);
}

.container {
  display: flex;
  justify-content: center;
}

img {
  width: 80%;

  opacity: 40%;
  max-width: 500px;
  border-radius: 10px;
  width: 55%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#msgLogin {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb80;
  padding: 10px;
  border-radius: 6px;
  display: none;
}
